<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<center>
    <h2> Listagem de produtos </h2>
</center>
<div class="content">
    <table id="customers">
        <tr>
            <th>ID</th>
            <th>Dono</th>
            <th>Titulo</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
        </tr>
    </table>
</div>
</body>
</html>